<h1>Welcome!</h1>

<section class="play-container">
  <p>You've clicked 
    <button (click)="countClick()">this</button> 
    {{ clickCounter }} times.
  </p>
</section>

<section class="play-container">
  <input type="text" [(ngModel)]="name">
  <p>You said: {{ name }}</p>
</section>

<section class="play-container">
  <ng-template 
    [ngIf]="clickCounter > 4"
    [ngIfElse]="none">
    <p>The click counter is greater than 4</p>
  </ng-template>

  <ng-template #none>
    <p>The click counter is NOT greater than 4</p>
  </ng-template>

</section>